* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(216, 210, 194);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section {
    background: #FFF;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

.input-wrapper {
    width: 400px;
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
}
