<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metabolite Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <section class="content-section">

        <img src="{{ url_for('static', filename='crest.jpeg') }}" alt="Crest" class="crest-image">

        <div class="headings">
            <h1>Query Metabolites for KEGG Pathways</h1>
            <p>Enter Metabolites (comma-separated):</p>
        </div>

        <div class="input-wrapper">
            <form method="POST">
                <input type="text" id="metabolites" name="metabolites" required placeholder="Enter metabolites..."><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>